.contact-section {
    background-color: #FFF8DC;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    transform: translateY(-60px); /* Pulls it up visually */
}

.contact-section > .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section > .contact-form-wrapper > .contact-form-section {
    background-color: #d2d2d2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-left: 170px;
    box-shadow: #555 8px -4px 20px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > h1 {
    color: #333;
    text-align: center;
    font-size: 27px;
    font-style: italic;
    font-variant: small-caps;
    margin-bottom: 15px;
    margin-left: 200px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > p {
    color: #555;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > .contact-form {
    background-color: aquamarine;
    margin-left: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > .contact-form > form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > .contact-form > form > .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.contact-section > .contact-form-wrapper > .contact-form-section > .contact-form > form > input {
  height: 30px;
}

.contact-section > .contact-form-wrapper > .contact-form-section > .contact-form > form > textarea {
    height: 100px;
    resize: vertical;
}

/* == Contact Information Styles == */
.contact-section > .contact-info-wrapper {
  display: flex;
  flex-direction: column;
  background-color: brown;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  padding: 10px;
  padding-top: 20px;
  position: absolute;
  margin-top: 70px;
  margin-left: 187px;
  border-radius: 8px;
  box-shadow: #555 -10px -10px 20px;
}

.contact-section > .contact-info-wrapper > .contact-info > h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.contact-section > .contact-info-wrapper > .contact-info > p {
    color: #FFF8DC;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-section > .contact-info-wrapper > .contact-info > .contact-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-section > .contact-info-wrapper > .contact-info > .contact-details > .dir-contact > a {
    text-decoration: none;
    color: #FFF8DC;
}

.contact-section > .contact-info-wrapper > .contact-info > .contact-details > .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 40px;
}

.contact-section > .contact-info-wrapper > .contact-info > .contact-details > .social-icons > a {
    color: #ff6600;
    text-decoration: none;
}
