.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.main-section > .section {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 16px;
}

.main-section > .section h1 {
  font-size: 2.5rem;
  font-style: oblique;
}

.main-section > .section > span {
  font-style: italic;
  font-variant-caps: petite-caps;
}

.main-section > .section p {
  font-size: 1.3rem;
}

.banner-image img {
  width: 64%;
  height: 86%;
  border-radius: 8px;
}